.form{
    width: 100%;
    display: flex;
    flex-flow: column;
    background-color: white;
    font-size: 16px;

    & label{
        margin-left: 15px;
        color: rgb(156, 148, 148);
    }
    
    & .input{
        border: 1px solid rgb(216, 199, 199);
        height: 50px;
        font-size: 16px;
        border-radius: 8px;
    }

    & input:focus{
        border:1px solid  var(--grey-med);
        font-size: 16px;
        box-shadow: 0px 0px 2px 2px rgba(70, 70, 217, 0.2);
        outline: none;
    }

    &__error{
        border: solid 1px red;
        height: 50px;
        font-size: 16px;
        border-radius: 8px;
    }

    &__text__error{
        margin-bottom: 5px;
        margin-left: 15px;
        color: red;
        // font-size: 12px;
        font-weight: lighter;
    }

    &__checkbox{
        display: flex;
        justify-content: flex-start;
        column-gap: 10px;
    }

    & button{
        background-color: rgb(70, 70, 217);
        height: 40px;
        font-size: 16px;
        margin-top: 10px;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    & button:disabled{
        cursor: no-drop;
    }

    &__errorM {
        height: max-content;
        border: none;
        margin-top: 5px;
        color: red;
        // font-size: 12px;
    }

}

.transparetn{
    color: transparent;
    // font-size: 12px;
    font-weight: lighter;
}