.selecttable{
    padding: 20px 80px;

    @media (max-width:743px){
        padding: 5px 5px;
    }

    &__submit{
        &:hover{
            cursor: pointer;
        }
    }
}

.hostform__mapcontainer{
    width: 100%;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 70px;

    &__control{
      width: 100%;
      display: flex;
      justify-content: space-between;    
      
      & Input{
          flex-grow: 1;
      }
      
      & .mantine-Input-wrapper{
          flex-grow: 1;
      }

      & button{
          width: 150px;
          color: white;
          background-color: black ;
          border-radius: 10px;
      }
    }
}